<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-reboot.css">
    <script src="bootstrap/js/bootstrap.js"></script>
    <title>Document</title>
    <style>
        body {
            background-color: #aef5f4;
            font-family: Arial, sans-serif;
            font-size:25px;
            margin: auto;
            width: 70%;
            padding: 10px;
            text-align: center;
            }
        .container {
            background-color: white;
            height: 100%;
            text-align:justify;
            padding-top:5%;
        }
        
        a, a:visited {
            color: #555;
        }  
        button{
            border: solid black;
            background-color: white; 
            margin: 10px;
            padding: 5px;
        }     
    </style>