<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-reboot.css">
    <script src="bootstrap/js/bootstrap.js"></script>
    <title>Document</title>
    <style>
        body {
            background-color: #aef5f4;
            font-family: Arial, sans-serif;
            font-size:20px;
            margin: auto;
            width: 50%;
            padding: 10px;
            }
        .container {
            background-color: white;
            height: 100%;
            text-align:justify;
            padding-left:15%;
            padding-right:15%;
            padding-top:5%;
        }
        h2 {
            margin-top: 15%;
            font-size: 18px;
        }
        a, a:visited {
            color: #555;
        }       
    </style>