<!DOCTYPE html>
<html lang="en">
<head>
    <%- await include (Deno.cwd() + '/Views/head.ejs'); %> 
    <style>
        input{
            margin-right: 40px;
            border-radius: 4px;
            float: right;
        }
    </style> 
</head>
<body>
    <h1>Bezahlen</h1>
    <fieldset class="container">
        <form action="/thankyou" method="post">
            <label for="username">Benutzername:</label><input type="text" name="username" required><br>
            <label for="password">Passwort:</label><input type="password" name="password" required><br>
            <label for="mail">E-mail Adresse:</label><input type="email" name="mail-adress" required><br><br>
            <p style="font-style:bold;">Preis: <%= price %> CHF</p>
            <button type="submit" style="float: right;">Kaufen</button>
        </form>
        <form action="/home" method="get">
            <button style="float: left;">Zurück zum Hauptbildschirm</button>
        </form>
    </fieldset>
</body>
</html>