<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-reboot.css">
    <script src="bootstrap/js/bootstrap.js"></script>
    <title>Document</title>
</head>
<body>
    
    <fieldset>
        <% for(let i=0;i<list.length;i++){ %><br><br>
            <img src="..\assets\<%= list[i].imageName %>" width="150" height="150"><br>
            <p><%= list[i].productName %></p><br><br>
            <% } %> 
    </fieldset>

</body>
</html>