<!DOCTYPE html>
<html lang="en">
<head>
    <%- await include (Deno.cwd() + '/Views/head.ejs'); %> 
    <style>
        input{
            border-inline: 40px;
        }
    </style> 
</head>
<body>
    <h1>Auf Wiedersehen, <%= name %>!</h1>
    <fieldset class="container">
        <p>Ihre Bestellung ist eingegangen und wird bearbeitet.<br>
        Wir freuen uns auf die nächste Möglichkeit Sie bedienen zu dürfen.</p>
        <form action="/" method="get">
            <p hidden>Danke für deinen Einkauf, <%= name %>.</p>
            <button>Zur Startseite</button>
        </form>
    </fieldset>
</body>
</html>